<% provide :title, t(".subtitle") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_infor">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t "microposts.title" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center">
    <h1><%= t ".subtitle" %></h1>
    <p>
      <%= t ".page_text" %>
      <%= link_to t(".path_text"), Settings.home.path_link %>
      <%= t ".text" %>
    </p>
    <%= link_to t(".path_text2"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag(Settings.home.path_img, alt: "Rails logo"), Settings.home.path_link %>
<% end %>
