<% provide :title, t(".subtitle") %>
<div class = "center">
  <h1><%= t ".subtitle" %></h1>
  <p>
    <%= t ".page_text" %>
    <%= link_to t(".path_text"), Settings.home.path_link %>
    <%= t ".text" %>
  </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
  <%= link_to image_tag("rails.jpg", alt: "Rails logo", width: "200px"), Settings.home.path_link %>
