<h1><%= t("user_mailer.activation.title") %></h1>
<p>
  <%= t("user_mailer.activation.hello_text") %> <%= @user.name %>,
</p>
<p>
  <%= t("user_mailer.activation.welcome_text") %>
</p>
<%= link_to t("user_mailer.activation.activated"), edit_account_activation_url(id: @user.activation_token,
email: @user.email) %>
